@using RestaurantReservationSystem.Mvc.Models;
@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Bookings Data";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff;
        color: #333;
    }

    table {
        width: 80%;
        margin: 50px auto;
        border-collapse: collapse;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    a {
        color: #4CAF50;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="background-color: #4CAF50; color: white;">Id</th>
            <th style="background-color: #4CAF50; color: white;">Name</th>
            <th style="background-color: #4CAF50; color: white;">Age</th>
            <th style="background-color: #4CAF50; color: white;">Gender</th>
            <th style="background-color: #4CAF50; color: white;">Date and Time</th>
            <th style="background-color: #4CAF50; color: white;">Capacity</th>
            <th style="background-color: #4CAF50; color: white;" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Booking booking in Model)
        {
            <tr>
                <td>@booking.Bid</td>
                <td>@booking.Name</td>
                <td>@booking.Age</td>
                <td>@booking.Gender</td>
                <td>@booking.DateTime</td>
                <td>@booking.Capacity</td>
                <td><a asp-action="Edit" asp-route-id="@booking.Bid">Edit</a></td>
                <td><a asp-action="Delete" asp-route-id="@booking.Bid">Cancel</a></td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Create New Booking</a>
<div>
    <button type="button" onclick="goHome()">Go Home</button>
</div>
<script>
    function goHome() {
        window.location.href = '/Home/Home';
    }
</script>
