@using RestaurantReservationSystem.Mvc.Models;
@model IEnumerable<Reservation>
@{
    ViewData["Title"] = "Reservations Data";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff;
        color: #333;
    }

    table {
        width: 80%;
        margin: 50px auto;
        border-collapse: collapse;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    a {
        color: #4CAF50;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .btn-primary {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 20px auto;
        display: block;
        text-align: center;
    }

    .btn-primary:hover {
        background-color: #45a049;
    }

    .no-reservations {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #ff0000;
        margin-top: 50px;
    }
</style>

@if (!Model.Any())
{
    <p class="no-reservations">No reservations found</p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="background-color: #4CAF50; color: white;">Reservation Id</th>
                <th style="background-color: #4CAF50; color: white;">Date and Time</th>
                <th style="background-color: #4CAF50; color: white;">Customer</th>
                <th style="background-color: #4CAF50; color: white;">Table</th>
                <th style="background-color: #4CAF50; color: white;" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Reservation reservation in Model)
            {
                <tr>
                    <td>@reservation.ReservationId</td>
                    <td>@reservation.DateTime?.ToString("g")</td>
                    <td>@reservation.CustomerId</td>
                    <td>@reservation.TableId</td>
                    <td><a asp-action="Edit" asp-route-id="@reservation.ReservationId">Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@reservation.ReservationId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}
<a asp-action="Create" class="btn btn-primary">Create New Reservation</a>
<div>
    <button type="button" onclick="goHome()">Go Home</button>
</div>
<script>
    function goHome() {
        window.location.href = '/Home/Home';
    }
</script>
