@using RestaurantReservationSystem.Mvc.Models;
@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Customers Data";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff;
        color: #333;
    }

    table {
        width: 80%;
        margin: 50px auto;
        border-collapse: collapse;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    a {
        color: #4CAF50;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .no-customers {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #ff0000;
        margin-top: 50px;
    }

    #gobackc{
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
}
</style>

@if (!Model.Any())
{
    <p class="no-customers">No customers found</p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="background-color: #4CAF50; color: white;">Id</th>
                <th style="background-color: #4CAF50; color: white;">Name</th>
                <th style="background-color: #4CAF50; color: white;">Phone Number</th>
                <th style="background-color: #4CAF50; color: white;">Age</th>
                <th style="background-color: #4CAF50; color: white;">Gender</th>
                <th style="background-color: #4CAF50; color: white;" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Customer customer in Model)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.Name</td>
                    <td>@customer.PhoneNumber</td>
                    <td>@customer.Age</td>
                    <td>@customer.Gender</td>
                    <td><a asp-action="Edit" asp-route-id="@customer.CustomerId">Edit</a></td>
                    <td><a asp-action="Delete" asp-route-id="@customer.CustomerId">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-action="Create" class="btn btn-primary">Create New Customer</a><br /><br />
<div>
    <button type="button" onclick="goHome()" id="gobackc">Go Home</button>
</div>
<script>
    function goHome() {
        window.location.href = '/Home/Home';
    }
</script>